.sidebar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
}
.sidebar-left {
  min-height: 100vh;
  background-color: #3754db;
  width: 79px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-main {
  height: 100%;
  background-color: #fff;
  width: 100px;
  padding-top: 90px;
}
.sidebar-avatar > img {
  width: 36px;
  height: 36px;
}
.sidebar-avatar {
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}

.sidebar-selected-avatar > img {
  width: 38px;
  height: 38px;
}
.sidebar-selected-avatar {
  border: 1px solid #fbbe37;
  border-radius: 10px;
  padding: 6px 6px 0px 6px;
}
.sidebar-add-avatar img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.workplace-title {
  padding: 0px 0px 5vh 20px;
}
.workplace-main-title {
  font-family: "Gelion", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #101c56;
}
.workplace-subtitle {
  font-family: "Gelion", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #666666;
}
.sidebar-main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu-item {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.sidebar-menu-item.active {
  background: #fff url("./images/selected-list-item.png") no-repeat center left;
}
.sidebar-link-item {
  text-decoration: none;
  font-family: "Gelion", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #666666;
  cursor: pointer;
}
.active .sidebar-link-item {
  font-family: "Gelion", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #3754db;
}
