.sidebar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
}
.sidebar-left {
  height: 100%;
  background-color: #3754db;
  width: 80px;
}
.sidebar-main {
  height: 100%;
  background-color: #fff;
  width: 100px;
}
